.footer-wrapper {
    padding: 50px 0 80px;
}

.footer-info > li:first-child {
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-info > li:not(:first-child) {
    margin-top: 12px;
    text-transform: capitalize;
}

.size-lg-icon {
    font-size: 20px;
}

.size-lg-icon:hover {
    opacity: 0.8;
    font-size: 25px;
    transition: all ease 0.2s;
    cursor: pointer;
}