.carousel-wrapper {
    margin-bottom: 130px;
}

.btn-view-all {
    padding: 20px 40px;
    background-color: black;
    color: #fff;
    border: none;
    margin-top: 40px;
}

.btn-view-all:hover {
    opacity: 0.8;
    font-size: 20px;
    padding: 21px 42px;
    transition: all ease 0.3s;
}

.slide-wrapper {
    width: 100%;
    margin: 0 auto;
    align-items: center;    
    justify-content: center;
}

.slide-info {
    display: flex;
    justify-content: center;
}

.slide-info-wrapper {
    width: 70%;
}

.sub-title {
    font-weight: 600;
    font-size: 18px;
}

.title {
    font-weight: 700;
    font-size: 45px;
    margin: 15px 0 50px;
}

.content {
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
}


.slide-image {
    padding: 0;
    display: flex;
    justify-content: center;
}

.slide-image > img {
    width: 80%;
}