.form-wrapper {
    padding: 50px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 370px;
    width: 90%;
    margin: 0 auto;
}

.btn-form {
    display: block;
    width: 100%;
    border: none;
    border-radius: 30px;
    padding: 10px;
    color: white
}

.btn-form:hover {
    opacity: 0.8;
}

.btn-first {
    background-color: #DB482F;
}

.btn-second {
    background-color: #269D41;
}

.horizon {
    margin: 60px 0;
    width: 100%;
    display: flex;
    position: relative;
    border-top: 1px solid #ccc;
}

.content-horizon {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 18px;
}

.input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 7px 20px;
    margin: 18px 0;
}

.input:focus {
    outline: 1px solid #333;
}

.sign-up {
    color: #ABC78A
}

.sign-up:hover {
    text-decoration: underline;
    color: #ABC78A;
    cursor: pointer;
}