.header-wrapper {
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #32343a;
    color: white;
    z-index: 999;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3) ;
    transition: all ease 0.3s;
}

.header-wrapper-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #32343a;
    z-index: 999;
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.3) ;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all ease 0.3s;

}

.input-search-mobile {
    width: 90%;
    margin: auto;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    outline: none;
    padding: 5px;
    color: #fff;
}

.input-search {
    width: 50%;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    outline: none;
    padding: 5px;
    color: #fff;
}
.input-search-mobile::placeholder,
.input-search::placeholder
{
    color: #fff;
}

.brand {
    font-size: 30px;
    font-weight: 700;
    color: #333 !important;
}

.brand:hover {
    opacity: 0.9;
    cursor: pointer;
}

.icon-header {
    font-size: 20px;
    color: white;
}

.quanity {
    position: absolute;
    top: -10px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    padding: 10px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ml-sm {
    margin-left: 12px;
}

.avatar-wrapper {
    display: flex;
    align-items: center;
}

.avatar-wrapper:hover {
    cursor: pointer;
    opacity: 0.8;
}

.avatar {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
}


.name-user {
    display: inline-block;
    margin: 0;
}

.info-user {
    position: absolute;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 16px;
    font-weight: 400;
    top: calc(100% + 10px);
    left: 12px;
    min-width: 130px;
}

.info-user-mobile {
    position: absolute;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 16px;
    font-weight: 400;
    top: -145px;
    right: 50%;
    min-width: 130px;
    transform: translateX(50%);
}

.info-user__item {
    width: 100%;
    margin: 0;
    padding: 5px 0px;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.info-user__item:hover {
    cursor: pointer;
    color: #ccc;
}
