/* @import "rsuite/dist/rsuite.css"; */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    animation: fadeIn ease 0.5s;
}

html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.position-fixed {
    width: 100%;
}

.hover-underline:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hover-basic:hover {
    cursor: pointer;
    opacity: 0.8;
}

.hover-color:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
    cursor: pointer !important;
}

.slick-prev {
    left: 3% !important;
    z-index: 1;
}

.slick-next {
    right: 3% !important;
    z-index: 1;
}

.slick-prev::before, .slick-next:before {
    color: black;
}



.btn-shop {
    padding: 20px 40px;
    background-color: black;
    color: #fff;
    border: none;
    margin-top: 40px;
    border-radius: 0;
}

.btn-shop:hover {
    opacity: 0.8;
    font-size: 20px;
    padding: 21px 42px;
    transition: all ease 0.3s;
}



@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}