.card-wrapper {
    display: inline-block;
    text-align: center;
    margin: 30px 0;
    border: none;
    border-radius: 18px;
    box-shadow: 2px 4px 12px 5px rgba(0,0,0,.1) ;
    overflow: hidden;
    padding: 0 12px;
    background-color: #fff;
    width: 100%;

}

.card-img {
    width: 100%;
}

.card-img:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all ease 0.2s;
}

.card-title {
    font-size: 20px;
    margin: 20px 0;
    line-height: 30px;
    min-height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.old-price {
    text-decoration: line-through;
}

.new-price {
    display: inline-block;
    margin-left: 12px;
    font-size: 23px;
    font-weight: 600;
    color: red;
}