.message-toast {
    display: none;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    font-size: 20px;
    padding: 20px 30px;
    min-width: 300px;
    max-width: 350px;
    border-left: 6px solid;
    border-color: #198754;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.5s;
    color: #198754;
    font-weight: 500;
}

